.light :global(.markdown-body) {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.light :global(.markdown-body .octicon) {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.light :global(.markdown-body h1:hover .anchor .octicon-link:before),
.light :global(.markdown-body h2:hover .anchor .octicon-link:before),
.light :global(.markdown-body h3:hover .anchor .octicon-link:before),
.light :global(.markdown-body h4:hover .anchor .octicon-link:before),
.light :global(.markdown-body h5:hover .anchor .octicon-link:before),
.light :global(.markdown-body h6:hover .anchor .octicon-link:before) {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.light :global(.markdown-body details),
.light :global(.markdown-body figcaption),
.light :global(.markdown-body figure) {
  display: block;
}

.light :global(.markdown-body summary) {
  display: list-item;
}

.light :global(.markdown-body [hidden]) {
  display: none !important;
}

.light :global(.markdown-body a) {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.light :global(.markdown-body abbr[title]) {
  border-bottom: none;
  text-decoration: underline dotted;
}

.light :global(.markdown-body b),
.light :global(.markdown-body strong) {
  font-weight: 600;
}

.light :global(.markdown-body dfn) {
  font-style: italic;
}

.light :global(.markdown-body h1) {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.light :global(.markdown-body mark) {
  background-color: #fff8c5;
  color: #24292f;
}

.light :global(.markdown-body small) {
  font-size: 90%;
}

.light :global(.markdown-body sub),
.light :global(.markdown-body sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.light :global(.markdown-body sub) {
  bottom: -0.25em;
}

.light :global(.markdown-body sup) {
  top: -0.5em;
}

.light :global(.markdown-body img) {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.light :global(.markdown-body code),
.light :global(.markdown-body kbd),
.light :global(.markdown-body pre),
.light :global(.markdown-body samp) {
  font-family: monospace;
  font-size: 1em;
}

.light :global(.markdown-body figure) {
  margin: 1em 40px;
}

.light :global(.markdown-body hr) {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.light :global(.markdown-body input) {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.light :global(.markdown-body [type=button]),
.light :global(.markdown-body [type=reset]),
.light :global(.markdown-body [type=submit]) {
  -webkit-appearance: button;
}

.light :global(.markdown-body [type=checkbox]),
.light :global(.markdown-body [type=radio]) {
  box-sizing: border-box;
  padding: 0;
}

.light :global(.markdown-body [type=number]::-webkit-inner-spin-button),
.light :global(.markdown-body [type=number]::-webkit-outer-spin-button) {
  height: auto;
}

.light :global(.markdown-body [type=search]::-webkit-search-cancel-button),
.light :global(.markdown-body [type=search]::-webkit-search-decoration) {
  -webkit-appearance: none;
}

.light :global(.markdown-body ::-webkit-input-placeholder) {
  color: inherit;
  opacity: .54;
}

.light :global(.markdown-body ::-webkit-file-upload-button) {
  -webkit-appearance: button;
  font: inherit;
}

.light :global(.markdown-body a:hover) {
  text-decoration: underline;
}

.light :global(.markdown-body ::placeholder) {
  color: #6e7781;
  opacity: 1;
}

.light :global(.markdown-body hr::before) {
  display: table;
  content: "";
}

.light :global(.markdown-body hr::after) {
  display: table;
  clear: both;
  content: "";
}

.light :global(.markdown-body table) {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.light :global(.markdown-body td),
.light :global(.markdown-body th) {
  padding: 0;
}

.light :global(.markdown-body details summary) {
  cursor: pointer;
}

.light :global(.markdown-body details:not([open])>*:not(summary)) {
  display: none !important;
}

.light :global(.markdown-body a:focus),
.light :global(.markdown-body [role=button]:focus),
.light :global(.markdown-body input[type=radio]:focus),
.light :global(.markdown-body input[type=checkbox]:focus) {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.light :global(.markdown-body a:focus:not(:focus-visible)),
.light :global(.markdown-body [role=button]:focus:not(:focus-visible)),
.light :global(.markdown-body input[type=radio]:focus:not(:focus-visible)),
.light :global(.markdown-body input[type=checkbox]:focus:not(:focus-visible)) {
  outline: solid 1px transparent;
}

.light :global(.markdown-body a:focus-visible),
.light :global(.markdown-body [role=button]:focus-visible),
.light :global(.markdown-body input[type=radio]:focus-visible),
.light :global(.markdown-body input[type=checkbox]:focus-visible) {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.light :global(.markdown-body a:not([class]):focus),
.light :global(.markdown-body a:not([class]):focus-visible),
.light :global(.markdown-body input[type=radio]:focus),
.light :global(.markdown-body input[type=radio]:focus-visible),
.light :global(.markdown-body input[type=checkbox]:focus),
.light :global(.markdown-body input[type=checkbox]:focus-visible) {
  outline-offset: 0;
}

.light :global(.markdown-body kbd) {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.light :global(.markdown-body h1),
.light :global(.markdown-body h2),
.light :global(.markdown-body h3),
.light :global(.markdown-body h4),
.light :global(.markdown-body h5),
.light :global(.markdown-body h6) {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.light :global(.markdown-body h2) {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.light :global(.markdown-body h3) {
  font-weight: 600;
  font-size: 1.25em;
}

.light :global(.markdown-body h4) {
  font-weight: 600;
  font-size: 1em;
}

.light :global(.markdown-body h5) {
  font-weight: 600;
  font-size: .875em;
}

.light :global(.markdown-body h6) {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.light :global(.markdown-body p) {
  margin-top: 0;
  margin-bottom: 10px;
}

.light :global(.markdown-body blockquote) {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.light :global(.markdown-body ul),
.light :global(.markdown-body ol) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.light :global(.markdown-body ol ol),
.light :global(.markdown-body ul ol) {
  list-style-type: lower-roman;
}

.light :global(.markdown-body ul ul ol),
.light :global(.markdown-body ul ol ol),
.light :global(.markdown-body ol ul ol),
.light :global(.markdown-body ol ol ol) {
  list-style-type: lower-alpha;
}

.light :global(.markdown-body dd) {
  margin-left: 0;
}

.light :global(.markdown-body tt),
.light :global(.markdown-body code),
.light :global(.markdown-body samp) {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.light :global(.markdown-body pre) {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.light :global(.markdown-body .octicon) {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.light :global(.markdown-body input::-webkit-outer-spin-button),
.light :global(.markdown-body input::-webkit-inner-spin-button) {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.light :global(.markdown-body::before) {
  display: table;
  content: "";
}

.light :global(.markdown-body::after) {
  display: table;
  clear: both;
  content: "";
}

.light :global(.markdown-body>*:first-child) {
  margin-top: 0 !important;
}

.light :global(.markdown-body>*:last-child) {
  margin-bottom: 0 !important;
}

.light :global(.markdown-body a:not([href])) {
  color: inherit;
  text-decoration: none;
}

.light :global(.markdown-body .absent) {
  color: #cf222e;
}

.light :global(.markdown-body .anchor) {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.light :global(.markdown-body .anchor:focus) {
  outline: none;
}

.light :global(.markdown-body p),
.light :global(.markdown-body blockquote),
.light :global(.markdown-body ul),
.light :global(.markdown-body ol),
.light :global(.markdown-body dl),
.light :global(.markdown-body table),
.light :global(.markdown-body pre),
.light :global(.markdown-body details) {
  margin-top: 0;
  margin-bottom: 16px;
}

.light :global(.markdown-body blockquote>:first-child) {
  margin-top: 0;
}

.light :global(.markdown-body blockquote>:last-child) {
  margin-bottom: 0;
}

.light :global(.markdown-body h1 .octicon-link),
.light :global(.markdown-body h2 .octicon-link),
.light :global(.markdown-body h3 .octicon-link),
.light :global(.markdown-body h4 .octicon-link),
.light :global(.markdown-body h5 .octicon-link),
.light :global(.markdown-body h6 .octicon-link) {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.light :global(.markdown-body h1:hover .anchor),
.light :global(.markdown-body h2:hover .anchor),
.light :global(.markdown-body h3:hover .anchor),
.light :global(.markdown-body h4:hover .anchor),
.light :global(.markdown-body h5:hover .anchor),
.light :global(.markdown-body h6:hover .anchor) {
  text-decoration: none;
}

.light :global(.markdown-body h1:hover .anchor .octicon-link),
.light :global(.markdown-body h2:hover .anchor .octicon-link),
.light :global(.markdown-body h3:hover .anchor .octicon-link),
.light :global(.markdown-body h4:hover .anchor .octicon-link),
.light :global(.markdown-body h5:hover .anchor .octicon-link),
.light :global(.markdown-body h6:hover .anchor .octicon-link) {
  visibility: visible;
}

.light :global(.markdown-body h1 tt),
.light :global(.markdown-body h1 code),
.light :global(.markdown-body h2 tt),
.light :global(.markdown-body h2 code),
.light :global(.markdown-body h3 tt),
.light :global(.markdown-body h3 code),
.light :global(.markdown-body h4 tt),
.light :global(.markdown-body h4 code),
.light :global(.markdown-body h5 tt),
.light :global(.markdown-body h5 code),
.light :global(.markdown-body h6 tt),
.light :global(.markdown-body h6 code) {
  padding: 0 .2em;
  font-size: inherit;
}

.light :global(.markdown-body summary h1),
.light :global(.markdown-body summary h2),
.light :global(.markdown-body summary h3),
.light :global(.markdown-body summary h4),
.light :global(.markdown-body summary h5),
.light :global(.markdown-body summary h6) {
  display: inline-block;
}

.light :global(.markdown-body summary h1 .anchor),
.light :global(.markdown-body summary h2 .anchor),
.light :global(.markdown-body summary h3 .anchor),
.light :global(.markdown-body summary h4 .anchor),
.light :global(.markdown-body summary h5 .anchor),
.light :global(.markdown-body summary h6 .anchor) {
  margin-left: -40px;
}

.light :global(.markdown-body summary h1),
.light :global(.markdown-body summary h2) {
  padding-bottom: 0;
  border-bottom: 0;
}

.light :global(.markdown-body ul.no-list),
.light :global(.markdown-body ol.no-list) {
  padding: 0;
  list-style-type: none;
}

.light :global(.markdown-body ol[type=a]) {
  list-style-type: lower-alpha;
}

.light :global(.markdown-body ol[type=A]) {
  list-style-type: upper-alpha;
}

.light :global(.markdown-body ol[type=i]) {
  list-style-type: lower-roman;
}

.light :global(.markdown-body ol[type=I]) {
  list-style-type: upper-roman;
}

.light :global(.markdown-body ol[type="1"]) {
  list-style-type: decimal;
}

.light :global(.markdown-body div>ol:not([type])) {
  list-style-type: decimal;
}

.light :global(.markdown-body ul ul),
.light :global(.markdown-body ul ol),
.light :global(.markdown-body ol ol),
.light :global(.markdown-body ol ul) {
  margin-top: 0;
  margin-bottom: 0;
}

.light :global(.markdown-body li>p) {
  margin-top: 16px;
}

.light :global(.markdown-body li+li) {
  margin-top: .25em;
}

.light :global(.markdown-body dl) {
  padding: 0;
}

.light :global(.markdown-body dl dt) {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.light :global(.markdown-body dl dd) {
  padding: 0 16px;
  margin-bottom: 16px;
}

.light :global(.markdown-body table th) {
  font-weight: 600;
}

.light :global(.markdown-body table th),
.light :global(.markdown-body table td) {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.light :global(.markdown-body table tr) {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.light :global(.markdown-body table tr:nth-child(2n)) {
  background-color: #f6f8fa;
}

.light :global(.markdown-body table img) {
  background-color: transparent;
}

.light :global(.markdown-body img[align=right]) {
  padding-left: 20px;
}

.light :global(.markdown-body img[align=left]) {
  padding-right: 20px;
}

.light :global(.markdown-body .emoji) {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.light :global(.markdown-body span.frame) {
  display: block;
  overflow: hidden;
}

.light :global(.markdown-body span.frame>span) {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.light :global(.markdown-body span.frame span img) {
  display: block;
  float: left;
}

.light :global(.markdown-body span.frame span span) {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.light :global(.markdown-body span.align-center) {
  display: block;
  overflow: hidden;
  clear: both;
}

.light :global(.markdown-body span.align-center>span) {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.light :global(.markdown-body span.align-center span img) {
  margin: 0 auto;
  text-align: center;
}

.light :global(.markdown-body span.align-right) {
  display: block;
  overflow: hidden;
  clear: both;
}

.light :global(.markdown-body span.align-right>span) {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.light :global(.markdown-body span.align-right span img) {
  margin: 0;
  text-align: right;
}

.light :global(.markdown-body span.float-left) {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.light :global(.markdown-body span.float-left span) {
  margin: 13px 0 0;
}

.light :global(.markdown-body span.float-right) {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.light :global(.markdown-body span.float-right>span) {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.light :global(.markdown-body code),
.light :global(.markdown-body tt) {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.light :global(.markdown-body code br),
.light :global(.markdown-body tt br) {
  display: none;
}

.light :global(.markdown-body del code) {
  text-decoration: inherit;
}

.light :global(.markdown-body samp) {
  font-size: 85%;
}

.light :global(.markdown-body pre code) {
  font-size: 100%;
}

.light :global(.markdown-body pre>code) {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.light :global(.markdown-body .highlight) {
  margin-bottom: 16px;
}

.light :global(.markdown-body .highlight pre) {
  margin-bottom: 0;
  word-break: normal;
}

.light :global(.markdown-body .highlight pre),
.light :global(.markdown-body pre) {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.light :global(.markdown-body pre code),
.light :global(.markdown-body pre tt) {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.light :global(.markdown-body .csv-data td),
.light :global(.markdown-body .csv-data th) {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.light :global(.markdown-body .csv-data .blob-num) {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.light :global(.markdown-body .csv-data tr) {
  border-top: 0;
}

.light :global(.markdown-body .csv-data th) {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.light :global(.markdown-body [data-footnote-ref]::before) {
  content: "[";
}

.light :global(.markdown-body [data-footnote-ref]::after) {
  content: "]";
}

.light :global(.markdown-body .footnotes) {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.light :global(.markdown-body .footnotes ol) {
  padding-left: 16px;
}

.light :global(.markdown-body .footnotes ol ul) {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.light :global(.markdown-body .footnotes li) {
  position: relative;
}

.light :global(.markdown-body .footnotes li:target::before) {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.light :global(.markdown-body .footnotes li:target) {
  color: #24292f;
}

.light :global(.markdown-body .footnotes .data-footnote-backref g-emoji) {
  font-family: monospace;
}

.light :global(.markdown-body .pl-c) {
  color: #6e7781;
}

.light :global(.markdown-body .pl-c1),
.light :global(.markdown-body .pl-s .pl-v) {
  color: #0550ae;
}

.light :global(.markdown-body .pl-e),
.light :global(.markdown-body .pl-en) {
  color: #8250df;
}

.light :global(.markdown-body .pl-smi),
.light :global(.markdown-body .pl-s .pl-s1) {
  color: #24292f;
}

.light :global(.markdown-body .pl-ent) {
  color: #116329;
}

.light :global(.markdown-body .pl-k) {
  color: #cf222e;
}

.light :global(.markdown-body .pl-s),
.light :global(.markdown-body .pl-pds),
.light :global(.markdown-body .pl-s .pl-pse .pl-s1),
.light :global(.markdown-body .pl-sr),
.light :global(.markdown-body .pl-sr .pl-cce),
.light :global(.markdown-body .pl-sr .pl-sre),
.light :global(.markdown-body .pl-sr .pl-sra) {
  color: #0a3069;
}

.light :global(.markdown-body .pl-v),
.light :global(.markdown-body .pl-smw) {
  color: #953800;
}

.light :global(.markdown-body .pl-bu) {
  color: #82071e;
}

.light :global(.markdown-body .pl-ii) {
  color: #f6f8fa;
  background-color: #82071e;
}

.light :global(.markdown-body .pl-c2) {
  color: #f6f8fa;
  background-color: #cf222e;
}

.light :global(.markdown-body .pl-sr .pl-cce) {
  font-weight: bold;
  color: #116329;
}

.light :global(.markdown-body .pl-ml) {
  color: #3b2300;
}

.light :global(.markdown-body .pl-mh),
.light :global(.markdown-body .pl-mh .pl-en),
.light :global(.markdown-body .pl-ms) {
  font-weight: bold;
  color: #0550ae;
}

.light :global(.markdown-body .pl-mi) {
  font-style: italic;
  color: #24292f;
}

.light :global(.markdown-body .pl-mb) {
  font-weight: bold;
  color: #24292f;
}

.light :global(.markdown-body .pl-md) {
  color: #82071e;
  background-color: #ffebe9;
}

.light :global(.markdown-body .pl-mi1) {
  color: #116329;
  background-color: #dafbe1;
}

.light :global(.markdown-body .pl-mc) {
  color: #953800;
  background-color: #ffd8b5;
}

.light :global(.markdown-body .pl-mi2) {
  color: #eaeef2;
  background-color: #0550ae;
}

.light :global(.markdown-body .pl-mdr) {
  font-weight: bold;
  color: #8250df;
}

.light :global(.markdown-body .pl-ba) {
  color: #57606a;
}

.light :global(.markdown-body .pl-sg) {
  color: #8c959f;
}

.light :global(.markdown-body .pl-corl) {
  text-decoration: underline;
  color: #0a3069;
}

.light :global(.markdown-body g-emoji) {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.light :global(.markdown-body g-emoji img) {
  width: 1em;
  height: 1em;
}

.light :global(.markdown-body .task-list-item) {
  list-style-type: none;
}

.light :global(.markdown-body .task-list-item label) {
  font-weight: 400;
}

.light :global(.markdown-body .task-list-item.enabled label) {
  cursor: pointer;
}

.light :global(.markdown-body .task-list-item+.task-list-item) {
  margin-top: 4px;
}

.light :global(.markdown-body .task-list-item .handle) {
  display: none;
}

.light :global(.markdown-body .task-list-item-checkbox) {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.light :global(.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox) {
  margin: 0 -1.6em .25em .2em;
}

.light :global(.markdown-body .contains-task-list) {
  position: relative;
}

.light :global(.markdown-body .contains-task-list:hover .task-list-item-convert-container),
.light :global(.markdown-body .contains-task-list:focus-within .task-list-item-convert-container) {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.light :global(.markdown-body ::-webkit-calendar-picker-indicator) {
  filter: invert(50%);
}

.light :global(pre code.hljs) {
  display: block;
  overflow-x: auto;
  padding: 1em
}

.light :global(code.hljs) {
  display: block;
  padding: 3px 5px
}

.light :global(.hljs) {
  display: block;
  color: #24292e;
  background: #fff
}

.light :global(.hljs-doctag),
.light :global(.hljs-keyword),
.light :global(.hljs-meta .hljs-keyword),
.light :global(.hljs-template-tag),
.light :global(.hljs-template-variable),
.light :global(.hljs-type),
.light :global(.hljs-variable.language_) {
  color: #d73a49
}

.light :global(.hljs-title),
.light :global(.hljs-title.class_),
.light :global(.hljs-title.class_.inherited__),
.light :global(.hljs-title.function_) {
  color: #6f42c1
}

.light :global(.hljs-attr),
.light :global(.hljs-attribute),
.light :global(.hljs-literal),
.light :global(.hljs-meta),
.light :global(.hljs-number),
.light :global(.hljs-operator),
.light :global(.hljs-selector-attr),
.light :global(.hljs-selector-class),
.light :global(.hljs-selector-id),
.light :global(.hljs-variable) {
  color: #005cc5
}

.light :global(.hljs-meta .hljs-string),
.light :global(.hljs-regexp),
.light :global(.hljs-string) {
  color: #032f62
}

.light :global(.hljs-built_in),
.light :global(.hljs-symbol) {
  color: #e36209
}

.light :global(.hljs-code),
.light :global(.hljs-comment),
.light :global(.hljs-formula) {
  color: #6a737d
}

.light :global(.hljs-name),
.light :global(.hljs-quote),
.light :global(.hljs-selector-pseudo),
.light :global(.hljs-selector-tag) {
  color: #22863a
}

.light :global(.hljs-subst) {
  color: #24292e
}

.light :global(.hljs-section) {
  color: #005cc5;
  font-weight: 700
}

.light :global(.hljs-bullet) {
  color: #735c0f
}

.light :global(.hljs-emphasis) {
  color: #24292e;
  font-style: italic
}

.light :global(.hljs-strong) {
  color: #24292e;
  font-weight: 700
}

.light :global(.hljs-addition) {
  color: #22863a;
  background-color: #f0fff4
}

.light :global(.hljs-deletion) {
  color: #b31d28;
  background-color: #ffeef0
}
