.placeholder0 {
  color: #4b8fff;
  background-color: rgb(91 143 250 / 10%);
}

.placeholder1 {
  color: #00dca2;
  background-color: rgb(90 216 166 / 10%);
}

.placeholder2 {
  color: #5a6c96;
  background-color: rgb(95 111 146 / 10%);
}

.placeholder3 {
  color: #f6bd13;
  background-color: rgb(246 189 19 / 10%);
}

.placeholder4 {
  color: #e56a48;
  background-color: rgb(232 103 74 / 10%);
}

.placeholder5 {
  color: #9370cb;
  background-color: rgb(147 112 202 / 10%);
}

.placeholder6 {
  color: #ff9c4d;
  background-color: rgb(253 157 79 / 10%);
}

.placeholder7 {
  color: #209b9c;
  background-color: rgb(35 155 150 / 10%);
}
