.container {
  position: relative;
  padding: 20px 24px;
  overflow: hidden;
  border: 1px solid rgb(49 70 89 / 8%);
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgb(49 70 89 / 8%);
}
.title {
  margin-bottom: 24px;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}
